body{margin: 0 auto;
}

.top_cupom{position: relative;
    float: left;
    margin: 0 auto;
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: #efefef;
}

.menu_info{position: relative;
    float: left;
    margin: 0 auto;
    width: 100%;
    height: 45px;
    text-align: center;
    background: #222222;
}

.menu_info_box{position: relative;
    margin: 0 auto;
    width: 1024px;
    height: 45px;
    background: #222222;
}

.menu_info_box_logo{position: relative;
    margin: 0 auto;
    float: left;
    width: auto;
    height: 20px;
    background: white;
    padding: 12.5px;     /*Imagem tem 20px de altura e a caixa em que ela se encontra tem 45px, então, para deixar no meio, fazemos padding (45-20)/2*/

}

.img_logo1{float: left;
    height: 20px;
}

.menu_info_box_menu{position: relative;
    float: left;
    margin: 0 auto;
    width: auto;
    height: 45px;
}

.mn1{float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #fff;
    padding: 15px 20px; /*(45-15px)/2*/
    text-decoration: none;
}

.mn1:hover{color: #ff009c;
}

.mn1_card{float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #fff;
    padding: 6px 20px;
    text-decoration: none;
    background: #ff009c;
    border-radius: 15px;
    margin: 9px 0;  /*(45-6-6)/2*/
}

.mn1_card:hover{
    color: black;
}

.menu{position: relative;
    float: left;
    margin: 0 auto;
    width: 100%;
    height: 145px;
    text-align: center;
    background-color: white;
}

.menu_box{position: relative;
    margin: 0 auto;
    width: 1024px;
    height: 145px;
}

.menu_box1{position: relative;
    margin: 0 auto;
    width: 1024px;
    height: 85px;
}
.menu_box2{position: relative;
    margin: 0 auto;
    width: 1024px;
    height: 60px;
}

.menu_box1_logo, .menu_box1_pesq, .menu_box1_login, .menu_box1_car{position: relative;
    margin: 0 auto;
    float: left;
    width: 256px; /*1024px/4*/
    height: 85px;
}

.menu_box1_login{
    background-image: url("../images/user.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 45px 45px;
}

.img_logo2{float: left;
    height: 45px;
    padding: 20px 0; /*(85-45)/2*/
}

.inp_pes{font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
    padding: 8px 5px;  
    border: solid 1px #ff009c;
    float: left;
}

.bt_pesq{
    height: 34px;
    width: 34px;
    background: #ff009c;
    border: solid 1px #ff009c;
    margin: 0;
    float: left;
    background-image: url("../images/lupa.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px 15px;
}

.menu_box1_pesq form{padding: 26px 0;
}

.link_login{text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #8d8d8d;
    float: left;
    line-height: 85px;
    margin-left: 50px;
}

.box_bag{position: relative;
    margin: 0 auto;
    float: left;
    width: 50px;
    height: 85px;
    background-image: url("../images/bag.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px 25px;
}

.box_bag span{float: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 13px;
    color: white;
    background-color: #ff009c;
    padding: 2px 5px;
    border-radius: 20px;
    margin-top: 45px;
    margin-left: 30px;
}

.box_bag_text{position: relative;
    margin: 0 auto;
    float: left;
    width: 206px;
    height: 30px;
    padding: 27.5px 0; /*Dessa maneira os 'label' ficam alinhados*/
    
}

.box_bag_text label{font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #666;
    display: block;
    text-align: left;
}

.opc_menu{display: flex;
    float:left;
    justify-content: space-around;
    align-items: center;
    width: 102.4px;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #3d3d3d;
    text-decoration: none;
}

.opc_menu:hover{background-color: #ebebeb;
}

.frete{position: relative;
    float: left;
    margin: 0 auto;
    width: 100%;
    height: 39px;
    text-align: center;
    background: #272526;
}

.banner{position: relative;
    float: left;
    margin: 0 auto;
    width: 100%;
    height: 847px;
    background-image: url('../images/alerta_rosa.gif');
    background-position: center;
    background-repeat: no-repeat;
}

.menu_box3{position: relative;
    margin: 0 auto;
    width: 1024px;
    height: 75px;
}
