body{
    background-color: black;
}

.banner{
    width: 1350px;
}

.section2{
    background-color: rgba(41, 41, 41, 1);
    margin-bottom: 110px;
}

p span{
    color: rgba(45, 84, 172, 1) !important; 
}

.img_cover{
    height: 303px;
}

@media (max-width: 770px){
    .donos_box{
        margin-top: 10px;
        margin-bottom: 20px;
    }
    
    .col-md-8{
        margin-bottom: 15px;
    }
}
