body{
    background-color: black;
}

.section{
    background-color: rgb(26, 31, 35);
    padding-bottom: 60px;
}

.section:last-child{
    margin-bottom: 110px;
}

ul{
    flex-direction: column;
}

ul li{
    margin: 40px;
}

.btnn{
    background-color: rgb(188 202 220);
    color: black;
    padding: 5px 20px;
}



.teste, .testeA{
    position: relative;
    
}

.impar{
    position: absolute;
    margin-bottom: -25px;
    bottom: 0;
    left: 72%;
}
